[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/vim-git"]
	path = bundle/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "bundle/the-nerd-tree"]
	path = bundle/the-nerd-tree
	url = https://github.com/vim-scripts/The-NERD-tree.git
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = https://github.com/vim-scripts/commentary.vim.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/vim-scripts/Markdown.git
[submodule "bundle/vim-pydiction"]
	path = bundle/vim-pydiction
	url = https://github.com/vim-scripts/Pydiction.git
[submodule "bundle/vim-OmniCppComplete"]
	path = bundle/vim-OmniCppComplete
	url = https://github.com/vim-scripts/OmniCppComplete.git
[submodule "bundle/vim-SyntaxComplete"]
	path = bundle/vim-SyntaxComplete
	url = https://github.com/vim-scripts/SyntaxComplete.git
[submodule "bundle/vim-YouCompleteMe"]
	path = bundle/vim-YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/vim-Tagbar"]
	path = bundle/vim-Tagbar
	url = https://github.com/vim-scripts/Tagbar.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/vim-scripts/fugitive.vim.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "bundle/vim-wiki"]
	path = bundle/vim-wiki
	url = https://github.com/vim-scripts/vimwiki.git
